<style>
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: aqua;
        display: flex;
    }
    .nav-menu {
        display: inline-block;

    }
    .nav-menu:hover {
        background-color: aliceblue;
    }
</style>
<div class="navbar">
    <div class="nav-menu">Option1</div>
    <div class="nav-menu">Option2</div>
</div>