<style>
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: aqua;
    }
</style>
<div class="navbar">
    <button>Option1</button>
    <button>Option2</button>
</div>